---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/zencoder/zenflow-example/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"feature/new-branch","title":"Feaure: new-branch","body":"making
        a new pull request"}'
    headers:
      Authorization:
      - token <ZENFLOW-TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1374170098'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, public_repo
      Location:
      - https://api.github.com/repos/zencoder/zenflow-example/pulls/6
      X-Github-Media-Type:
      - github.beta; format=json
      Etag:
      - '"93a8d93cfcb1baf04abe3720f28ecee6"'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/zencoder/zenflow-example/pulls/6","id":7019653,"html_url":"https://github.com/zencoder/zenflow-example/pull/6","diff_url":"https://github.com/zencoder/zenflow-example/pull/6.diff","patch_url":"https://github.com/zencoder/zenflow-example/pull/6.patch","issue_url":"https://github.com/zencoder/zenflow-example/issues/6","number":6,"state":"open","title":"Feaure:
        new-branch","user":{"login":"<GITHUB-USER>","id":54364,"avatar_url":"https://secure.gravatar.com/avatar/daec6f7c331960b73022735818b0b0d4?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"daec6f7c331960b73022735818b0b0d4","url":"https://api.github.com/users/<GITHUB-USER>","html_url":"https://github.com/<GITHUB-USER>","followers_url":"https://api.github.com/users/<GITHUB-USER>/followers","following_url":"https://api.github.com/users/<GITHUB-USER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB-USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB-USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB-USER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB-USER>/orgs","repos_url":"https://api.github.com/users/<GITHUB-USER>/repos","events_url":"https://api.github.com/users/<GITHUB-USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB-USER>/received_events","type":"User"},"body":"making
        a new pull request","created_at":"2013-07-18T17:06:43Z","updated_at":"2013-07-18T17:06:43Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"milestone":null,"commits_url":"https://github.com/zencoder/zenflow-example/pull/6/commits","review_comments_url":"https://github.com/zencoder/zenflow-example/pull/6/comments","review_comment_url":"/repos/zencoder/zenflow-example/pulls/comments/{number}","comments_url":"https://api.github.com/repos/zencoder/zenflow-example/issues/6/comments","head":{"label":"zencoder:feature/new-branch","ref":"feature/new-branch","sha":"2243a1dee7be96c9a4eb8dc3f1fbb9a043af1206","user":{"login":"zencoder","id":23879,"avatar_url":"https://secure.gravatar.com/avatar/5cda1d68355c595fdb0e890dc8bf7f6d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png","gravatar_id":"5cda1d68355c595fdb0e890dc8bf7f6d","url":"https://api.github.com/users/zencoder","html_url":"https://github.com/zencoder","followers_url":"https://api.github.com/users/zencoder/followers","following_url":"https://api.github.com/users/zencoder/following{/other_user}","gists_url":"https://api.github.com/users/zencoder/gists{/gist_id}","starred_url":"https://api.github.com/users/zencoder/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zencoder/subscriptions","organizations_url":"https://api.github.com/users/zencoder/orgs","repos_url":"https://api.github.com/users/zencoder/repos","events_url":"https://api.github.com/users/zencoder/events{/privacy}","received_events_url":"https://api.github.com/users/zencoder/received_events","type":"Organization"},"repo":{"id":11319183,"name":"zenflow-example","full_name":"zencoder/zenflow-example","owner":{"login":"zencoder","id":23879,"avatar_url":"https://secure.gravatar.com/avatar/5cda1d68355c595fdb0e890dc8bf7f6d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png","gravatar_id":"5cda1d68355c595fdb0e890dc8bf7f6d","url":"https://api.github.com/users/zencoder","html_url":"https://github.com/zencoder","followers_url":"https://api.github.com/users/zencoder/followers","following_url":"https://api.github.com/users/zencoder/following{/other_user}","gists_url":"https://api.github.com/users/zencoder/gists{/gist_id}","starred_url":"https://api.github.com/users/zencoder/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zencoder/subscriptions","organizations_url":"https://api.github.com/users/zencoder/orgs","repos_url":"https://api.github.com/users/zencoder/repos","events_url":"https://api.github.com/users/zencoder/events{/privacy}","received_events_url":"https://api.github.com/users/zencoder/received_events","type":"Organization"},"private":false,"html_url":"https://github.com/zencoder/zenflow-example","description":"An
        example repository for zenflow tests.","fork":false,"url":"https://api.github.com/repos/zencoder/zenflow-example","forks_url":"https://api.github.com/repos/zencoder/zenflow-example/forks","keys_url":"https://api.github.com/repos/zencoder/zenflow-example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/zencoder/zenflow-example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/zencoder/zenflow-example/teams","hooks_url":"https://api.github.com/repos/zencoder/zenflow-example/hooks","issue_events_url":"https://api.github.com/repos/zencoder/zenflow-example/issues/events{/number}","events_url":"https://api.github.com/repos/zencoder/zenflow-example/events","assignees_url":"https://api.github.com/repos/zencoder/zenflow-example/assignees{/user}","branches_url":"https://api.github.com/repos/zencoder/zenflow-example/branches{/branch}","tags_url":"https://api.github.com/repos/zencoder/zenflow-example/tags","blobs_url":"https://api.github.com/repos/zencoder/zenflow-example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/zencoder/zenflow-example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/zencoder/zenflow-example/git/refs{/sha}","trees_url":"https://api.github.com/repos/zencoder/zenflow-example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/zencoder/zenflow-example/statuses/{sha}","languages_url":"https://api.github.com/repos/zencoder/zenflow-example/languages","stargazers_url":"https://api.github.com/repos/zencoder/zenflow-example/stargazers","contributors_url":"https://api.github.com/repos/zencoder/zenflow-example/contributors","subscribers_url":"https://api.github.com/repos/zencoder/zenflow-example/subscribers","subscription_url":"https://api.github.com/repos/zencoder/zenflow-example/subscription","commits_url":"https://api.github.com/repos/zencoder/zenflow-example/commits{/sha}","git_commits_url":"https://api.github.com/repos/zencoder/zenflow-example/git/commits{/sha}","comments_url":"https://api.github.com/repos/zencoder/zenflow-example/comments{/number}","issue_comment_url":"https://api.github.com/repos/zencoder/zenflow-example/issues/comments/{number}","contents_url":"https://api.github.com/repos/zencoder/zenflow-example/contents/{+path}","compare_url":"https://api.github.com/repos/zencoder/zenflow-example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/zencoder/zenflow-example/merges","archive_url":"https://api.github.com/repos/zencoder/zenflow-example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/zencoder/zenflow-example/downloads","issues_url":"https://api.github.com/repos/zencoder/zenflow-example/issues{/number}","pulls_url":"https://api.github.com/repos/zencoder/zenflow-example/pulls{/number}","milestones_url":"https://api.github.com/repos/zencoder/zenflow-example/milestones{/number}","notifications_url":"https://api.github.com/repos/zencoder/zenflow-example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/zencoder/zenflow-example/labels{/name}","created_at":"2013-07-10T17:42:21Z","updated_at":"2013-07-18T17:06:43Z","pushed_at":"2013-07-10T22:52:00Z","git_url":"git://github.com/zencoder/zenflow-example.git","ssh_url":"git@github.com:zencoder/zenflow-example.git","clone_url":"https://github.com/zencoder/zenflow-example.git","svn_url":"https://github.com/zencoder/zenflow-example","homepage":null,"size":212,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"master_branch":"master","default_branch":"master"}},"base":{"label":"zencoder:master","ref":"master","sha":"1c7849cede0cd2ba857a2db42cf3ebf5042e04ff","user":{"login":"zencoder","id":23879,"avatar_url":"https://secure.gravatar.com/avatar/5cda1d68355c595fdb0e890dc8bf7f6d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png","gravatar_id":"5cda1d68355c595fdb0e890dc8bf7f6d","url":"https://api.github.com/users/zencoder","html_url":"https://github.com/zencoder","followers_url":"https://api.github.com/user[...]
