---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/zencoder/zenflow-example/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"feature/phoney","title":"this feature does
        not exist","body":"gonna fail"}'
    headers:
      Authorization:
      - token <ZENFLOW-TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1374170098'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, public_repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"PullRequest","code":"missing_field","field":"head_sha"},{"resource":"PullRequest","code":"missing_field","field":"base_sha"},{"resource":"PullRequest","code":"custom","message":"No
        commits between zencoder:master and zencoder:feature/phoney"}]}'
  recorded_at: Thu, 18 Jul 2013 16:58:31 GMT
recorded_with: VCR 2.5.0
