---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/zencoder/zenflow-example/pulls
    body:
      encoding: UTF-8
      string: '{"base":null,"head":null,"title":null,"body":null}'
    headers:
      Authorization:
      - token <ZENFLOW-TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1373498449'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, public_repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"PullRequest","code":"missing_field","field":"base"},{"resource":"PullRequest","code":"missing_field","field":"head"}]}'
  recorded_at: Wed, 10 Jul 2013 23:12:20 GMT
recorded_with: VCR 2.5.0
